.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 10px 0;
    z-index: 1000;
}

.header .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    flex-wrap: wrap;
}

.header h1 {
    margin: 0;
    font-size: 1.5em;
}


@media (max-width: 750px) {
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        color: #fff;
        padding: 10px 0;
        z-index: 1000;
    }
    .header .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0 20px;
        flex-wrap: wrap;
    }

}